<table class="table">
  <thead>
    <tr>
      <th><%= Article.human_attribute_name(:title) %></th>
      <th><%= Article.human_attribute_name(:translated_title) %></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= article.translated_title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('articles.new_article'), new_article_path, class: "btn btn-default" %>
