<% title @article.translated_title -%>
<% navi "Translation" -%>

<div class='alert alert-info'>
  <h3><%= @article.title -%></h3>
  <h4><%= @article.translated_title -%></h4>
  <p>
    Original link: <%= @article.original_link -%><br />
    Source Language: <%= @article.source -%>,
    Target Language: <%= @article.target -%>.
    <button class="btn btn-default" data-toggle="modal" data-target="#logModal">Change Log</button>
  </p>
  <p>
    <%= simple_format @article.brief %>
  </p>
  <p>
    <%= social_share_button_tag(@article.title) %>
  </p>

  <!-- Log Modal -->
  <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="logModalLabel">Change Log</h4>
	</div>
	<div class="modal-body">
	  <% @translation.versions.each do |v| -%>
	    <%= link_to "Diff", article_path(@article) + "/?v=#{version_short(v)}&diff=1" %>&nbsp;&nbsp;|&nbsp;
	    <%= link_to version_info(v), article_path(@article) + "/?v=#{version_short(v)}" %>
	    <br />
	  <% end -%>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.log modal -->
</div>

<div class="row">

  <% if params[:diff] == '1' -%>
    <div class="col-md-12">
      <div class="panel panel-info">
	<div class="panel-body">
	  <%= simple_format @translation.diff -%>
	</div>
      </div>
    </div>
  <% end -%>

  <div class="col-md-6 origin">
    <div class="panel panel-info">
      <div class="panel-heading">
	Origin Text
	<button type="button" class="hidden-origin pull-right btn btn-default btn-xs">Hidden Origin Text</button>
      </div>
      <div class="panel-body">
	<div class="origin-text">
	  <%= simple_format @article.text %>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-6 translation">
    <div class="panel panel-primary">
      <div class="panel-heading">
	Tranlation
	<button type="button" class="show-origin pull-right btn btn-default btn-xs">Show Origin Text</button>
      </div>
      <div class="panel-body">
	<%= render "translations/form", locals: { translation: @translation } -%>
      </div>
    </div>
  </div>

  <% if current_user == @article.user -%>
    <div class="col-md-12">
      <%= link_to 'Edit', edit_article_path(@article) %>
    </div>
  <% end -%>
</div>
