<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @article.brief %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <% @translation.versions.each do |v| -%>
    <%= link_to v.authored_date, article_path(@article) + "/?v=#{v.id}" %><br />
  <% end -%>
</p>

<p>
<%= simple_form_for @translation do |f| %>
  <%= f.input :text %>
  <%= f.input :article_id, as: :hidden %>
  <%= f.button :submit %>
<% end %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
