<% title @article.translated_title -%>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Back', @article -%>
  </li>
</ul>

<%= render "articles/info" -%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
	<%= version_info(@translation.version) %>
      </div>
      <div class="panel-body">
	<%= simple_format @translation.diff -%>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', @article, class: "btn btn-default" -%>
